
  h1 {
    color: blue;
    margin-left: 15px;
  }
  
h2 {
  background-color: red;
  opacity:0.4;
}

p {
  text-align: left;
}

h3 {
  font-size:32px;
  border-style: dotted;
  border-width: 3px;
  border-color: palevioletred;
}

 .tiger {
   width: 320px;
   padding: 15px;
   height: 300px;
   border: 20px;
   margin: 0;
   border-style: ridge;
 }

h6 {
  font-family:monospace;
  }

.rugby { 
  color:orange;
  font-size: 25px;
  text-align: center;
}

.bronco {
  border-style: double;
  border-width: 5px;
  border-color: slategray;
}

.BSU {
  font-family:Helvetica;
  color:springgreen;
  font-stretch: expanded;
}

#bucket {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

#towel {
  font-size: 20px;
  border-style: dashed ;
  border-color: yellow;
  border-width: 20px;
}

.Tango{
  width: 250px;
  height: 50px;
  background-color:blue;
  animation-name: Tango;
  animation-duration: 8s;
}

@keyframes Tango {
  from {background-color: blue;}
  to {background-color: orange;}
  
}


}